*{
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  min-height: 90vh;
}

.container h1 {
  font-size: 3.5rem;
}

.container p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 3%;
  width: 40%;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}