:root {
  --dark-purple: rgb(10, 0, 25);
  --purple: #6d2b84;
  --pink: #ed3a85;
  --darker-pink: #9b1f53;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9)
  }

  100% {
    opacity: 1;
    transform: translateY(-30px); scale: (1);
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap; 
  padding-top: 2rem;
  padding-right: 0;
  padding-left: 0;
  margin-top: 3%;
  animation: fade-up 0.5s;
}

.text-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 0;
  margin-left: 7vw; 
}

.mainText {
  font-weight: bolder;
  font-size: 5vw; 
  font-family: 'Poppins', sans-serif;
  line-height: 1.1; 
  margin-bottom: 1rem;
}

.secondary-text {
  font-size: 1.5rem; 
}

.main-img {
  width: 100%; 
  max-width: 30vw; 
  height: 30vw; 
  border-radius: 50%; 
  object-fit: cover; 
  flex: 3;
  padding: 0;
  margin-right: 10vw;
}

.button-saibaMais {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; 
  font-weight: bold;
  background-color: #9b1f53;
  color: white;
  width: 15vw;
  height: 4rem; 
  border-radius: 30px;
  border: none;
  padding: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1.5rem;
}

.button-saibaMais:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.button-saibaMais .circle {
  width: 1.5rem; 
  height: 1.5rem; 
  background-color: white;
  border-radius: 50%;
  margin-right: 0.5rem; 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 100%; 
    padding: 0;
  }

  .mainText {
    font-size: 3rem;
    line-height: 1.2;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .secondary-text {
    font-size: 1.25rem; 
  }

  .main-img {
    display: none;
  }

  .text-content {
    align-items: center;
    margin-left: 0;
    gap: 1rem;
  }

  .button-saibaMais {
    width: 80%; 
    margin-left: 0;
    margin-right: 0;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
}

/* Randomly position stars */
.star:nth-child(1) { top: 10%; left: 20%; }
.star:nth-child(2) { top: 15%; left: 40%; }
.star:nth-child(3) { top: 25%; left: 60%; }
.star:nth-child(4) { top: 35%; left: 80%; }
.star:nth-child(5) { top: 45%; left: 10%; }
.star:nth-child(6) { top: 55%; left: 50%; }
.star:nth-child(7) { top: 65%; left: 70%; }
.star:nth-child(8) { top: 75%; left: 30%; }
.star:nth-child(9) { top: 85%; left: 90%; }



