:root {
  --dark-purple: rgb(10, 0, 25);
  --purple: #6d2b84;
  --pink: #ed3a85;
  --darker-pink: #9b1f53;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; 
  padding-top: 2rem; 
  padding-right: 0;
  padding-left: 0;
}


.text-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 0;
  margin-left: 7rem;
}

.mainText {
  font-weight: bolder;
  font-size: 145px; 
  font-family: 'Poppins', sans-serif;
  line-height: 160px;
  margin-bottom: 1rem;
}

.secondary-text {
  font-size: 25px;
}

.main-img {
  width: 100%; /* Faz com que a imagem ocupe todo o espaço disponível */
  max-width: 500px; /* Aumenta o tamanho máximo da largura */
  height: 500px; /* Define a altura igual à largura para garantir um quadrado */
  border-radius: 50%; /* Garante que a imagem continue circular */
  object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorcer */
  flex: 3;
  padding: 0;
  margin-right: 10rem;
}

.button-saibaMais{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: #9b1f53;
  color: white;
  width: 230px;
  height: 60px;
  border-radius: 30px;
  border: none;
  padding: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1.5rem;
}

.button-saibaMais .circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}


@media (max-width: 768px) {
  .mainText {
    font-size: 3rem; 
    margin-left: 5%;
    margin-right: 5%;
  }

  .main-img {
    width: 70%; 
    margin: 0 auto; 
    flex: 2;
  }

  .container {
    flex-direction: column; 
    text-align: center; 
  }
}
