*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --dark-purple: rgb(10, 0, 25);
  --purple: #6d2b84;
  --pink: #ed3a85;
  --darker-pink: #9b1f53;
}
body {
  background-color: var(--dark-purple);
  color: white;
}
